/*  your css code here. If applicable */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f8f8f8;
}

h1{
text-align: center;
}

.book-library{
    background-color: #ffffff;
}

.author{
    color: #777777;
}

.Price-block{
    background-color: #2ecc71;
    text-align: center;
    color:#ffffff
}